@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.poppins {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgGrid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.2s;
}

button:hover {
  border-color: #646cff;
}

button:focus, border:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.specialButton {
  border-color: #646cff;
}

.specialButtonDark {
  background: #646cff;
  color: white;
}

.specialButton:hover {
  border-color: blue;
}
